@model parakeet.Models.OrderItemHistory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderItemHistory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderHistory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderHistory.OrderHistoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Design)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Design.DesignId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClothingType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClothingType.ClothingTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size.SizeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderItemHistoryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
