@model parakeet.Models.OrderHistory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderHistory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderHistoryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<h1>Order Items</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Order Item ID
            </th>
            <th>
                Design ID
            </th>
            <th>
                Clothing Type
            </th>
            <th>
                Size
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderItemHistory) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.OrderItemHistoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesignId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClothingType.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size.SizeName)
            </td>
        </tr>
}
    </tbody>
</table>