@model parakeet.Models.DesignViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Design</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div><p class="text-danger">@ViewData["imageError"]</p></div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DesignArray" class="control-label"></label>
                <input type="file"
                       accept=".png,.jpg,.jpeg"
                       asp-for="DesignArray"
                       class="form-control"
                       style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;" />
                <span asp-validation-for="DesignArray" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DesignName" class="control-label"></label>
                <input asp-for="DesignName" class="form-control" />
                <span asp-validation-for="DesignName" class="text-danger"></span>
            </div>

            @*<div class="form-group">
            <label asp-for="Popularitycounter" class="control-label"></label>
            <input asp-for="Popularitycounter" class="form-control" />
            <span asp-validation-for="Popularitycounter" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Approved" class="control-label"></label>
            <input asp-for="Approved" class="form-control" />
            <span asp-validation-for="Approved" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AdminViewed" class="control-label"></label>
            <input asp-for="AdminViewed" class="form-control" />
            <span asp-validation-for="AdminViewed" class="text-danger"></span>
        </div>*@

            @*This being here is optional, give me thoughts*@
            <div class="text-left">
                <h4 style="color:darkorange" style2="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" class="text-left">Please Pick the Appropriate Tags Associated with the Design</h4>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NatureTag" /> @Html.DisplayNameFor(model => model.NatureTag)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="FunnyTag" /> @Html.DisplayNameFor(model => model.FunnyTag)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AbstractTag" /> @Html.DisplayNameFor(model => model.AbstractTag)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="GameTag" /> @Html.DisplayNameFor(model => model.GameTag)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MusicTag" /> @Html.DisplayNameFor(model => model.MusicTag)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MovieTag" /> @Html.DisplayNameFor(model => model.MovieTag)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CoolTag" /> @Html.DisplayNameFor(model => model.CoolTag)
                </label>
            </div>
            @*<div class="form-group">
            <label asp-for="UserId" class="control-label"></label>
            <input asp-for="UserId" class="form-control" />
            <span asp-validation-for="UserId" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
