@model parakeet.Models.Design

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Design</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DesignArray)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DesignArray)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DesignName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DesignName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Popularitycounter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Popularitycounter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Approved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Approved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminViewed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminViewed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NatureTag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NatureTag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FunnyTag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FunnyTag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AbstractTag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AbstractTag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameTag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameTag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MusicTag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MusicTag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieTag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieTag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoolTag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoolTag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DesignId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
