@model IEnumerable<parakeet.Models.Design>

@{
    ViewData["Title"] = "Index";
}

<h1>Admin Dashboard</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DesignName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Approved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminViewed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img id="profilePicture" style="width:150px;height:160px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(item.DesignArray))">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Approved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminViewed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DesignId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
